html, body{
    width: 100%;
    height: 100%;    
    margin: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
table,th,td{
    background-color: black;
    border: 1px solid white;
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
    font-weight: bolder;
}

td,th{
    width: 25px;
    height: 25px;
}
td{
    border: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white ;
    border-radius: 20px;
    margin: 10px;
    
}
.row1,.row2,.row3{
    display: flex;
    margin: 5px;
}
.mes{
    margin: 5px;
}
h1{
    font-family: 'Poiret One', cursive;
    color: white;
}
#janeiro{
    border-top-left-radius: 20px;
}
#abril{
    border-top-right-radius: 20px;
}
#setembro, #setembro :nth-child(8) :nth-child(1){
    border-bottom-left-radius: 20px;
}
#dezembro, #dezembro :nth-child(8) :nth-child(7){
    border-bottom-right-radius: 20px;
}
#titulo{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid;
}
td:not(td:empty):hover {
    transition: 0.5s;
    scale: 200%;
    cursor: pointer;
    color: black;
    background-color: white;
}